# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist/*
!/dist/Llama-dita/
/dist/Llama-dita/*
!/dist/Llama-dita/resources.neu

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# Carpeta temporal del empaquetador
/.tmp
